body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('bggs.jfif');
    background-size: cover;
    background-position: center;
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  nav {
    margin-top: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }
  
  .container {
    width: 300px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    background-color: #fff;
    background-image: url('bgs.jpg'); /* Add your container background image */
    background-size: cover;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(10, 7, 7, 0.1);
    text-decoration-color:  white;
  }
  
  .user-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    align-self: center; /* Center the avatar vertically within the flex container */
  }
  
  .user-info h2,
  .user-info p {
    margin: 0;
  }
  
  
  .dashboard-content {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .dashboard-content h3 {
    color: #333;
  }
  
  .dashboard-content ul {
    list-style: none;
    padding: 0;
  }
  
  .dashboard-content ul li {
    margin-bottom: 10px;
  }

  .additional-info {
    text-align: left;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  